@import url('https://fonts.googleapis.com/css?family=Oswald:500|Raleway:300|Roboto:100');
body {
    background-color: #F2F2F2;
}

.bg-light {
    background-color: #52656B!important;
}
#nav-text {
    color: #F5F5D4;
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    font-size: 1.6rem;
}

.navbar {
    box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.75);}

.table {
    box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.75);}

.table .thead-dark th {
    background-color: #52656B;
    font-family: 'Raleway', sans-serif;
    color: #F5F5D4;
    border-color: #415054;

}
.stock-info-date {
    padding-top: 10px;
    color: #415054;
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;

}
#date {
    font-size: 0.8em;
}

.table-bordered td {
    border-color: #415054;
}

